<h1 class="dev-head">Developers</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Retired?</th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |dev| %>
      <tr>
        <td>
          <a href="/developers/<%= dev.id %>">
            <%= dev.id %>
          </a>
        </td>
        <td><%= dev.name %></td>
        <td><%= dev.retired? %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <button><a style="text-decoration: none" href="/developers/new">Add Developer</a> </button>
      </td>
    </tr>
  </tbody>
</table>