/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* { box-sizing: border-box;}

* { font-family: "Helvetica Neue", "Arial", sans-serif;}
th {
    padding-bottom: 10px;
}
.navbar-links li:hover {
    background: #c8cfd3;
}
.navbar-links li {
    display: inline-block;
}
.navbar-links a {
    text-decoration: none;
}
.nav-link {
    border: 1px solid #d3cdbf;
    border-radius: 9px;
    padding: 2px;

}
.error {
    border: 1px solid red;
}
.header {
    text-align: center;
}
.ticketron {
    padding-left: 45px;
}
td {
    padding: 5px;
}
.dev-head {
    padding-left: 20px;
    text-decoration: underline;
}
